.idea
.env*
*.csv
*.xlsx
!.env.example
**/__pycache___
.pytest_cache
**/.vscode
**/node_modules
**/venv
**/__pycache__
**/.next
**/.idea
**/.env
**/logs
**/database
**/*.db
**/instance
**/playground
**/downloaded/**/*.JPG
**/processed/**/*.png
**/demo

*.pt

button_*.png
google_boy.svg
Revali.jpg