{% extends 'base.html' %}

{% block title %}
Core Values
{% endblock title %}

{% block layer_base %}
<section class="hero">
  <div class="hero__background"></div>
  <div class="hero__text">
    <h1>PARENT'S HUB</h1>
    <div class="hero__divider"></div>
    <h2>IPEKA CPI</h2>
  </div>
</section>

<section class="info">
  <h2 class="info__heading">IPEKA Core Values</h2>

  <section class="info__subcontainer">
    <h3 class="info__subheading">I. Mission</h3>
    <p>To educate students holistically based on Christian values.</p>
  </section>

  <section class="info__subcontainer">
    <h3 class="info__subheading">II. Vision</h3>
    <p>To become a leading Christian educational institution that proclaims Christ as the source of wisdom and knowledge.</p>
  </section>

  <section class="info__subcontainer">
    <h3 class="info__subheading">III. Culture and Organisational Values</h3>
    <ol>
      <li>Service</li>
      <li>Discipline</li>
      <li>Integritas</li>
      <li>Lifelong learner</li>
      <li>Respect for all individuals</li>
    </ol>
  </section>

  <section class="info__subcontainer">
    <h3 class="info__subheading">IV. Motto</h3>
    <p>Better Education in Science and Truth (BEST)</p>
  </section>

  <section class="info__subcontainer">
    <h3 class="info__subheading">V. Expected Schoolwide Learning Results (ESLRs)</h3>
    <ol>
      <li>Know God as the creator, owner, redeemer, and sustainer.</li>
      <li>Know God as the source of wisdom and knowledge and the highest moral standard.</li>
      <li>Know oneself correctly and cultivate the knowledge and talents bestowed by God to fulfill their life purpose.</li>
      <li>Possess a Christian character and perspective in studying every aspect of knowledge and daily life.</li>
      <li>Have the ability to solve problems, think critically, creatively, innovatively, and skillfully utilise technology according to God's wisdom.</li>
      <li>Have effective communication and collaboration skills as a global community member, making a positive impact on the environment.</li>
    </ol>
  </section>
{% endblock layer_base %}

{% block script %}
<script>
</script>
{% endblock script %}