{% extends 'base.html' %}

{% block title %}
Admin Panel
{% endblock title %}

{% block layer_base %}
<section class="hero">
  <div class="hero__background" style="background-image: url('/images/media/Server.jpg');"></div>
  <div class="hero__text">
    <h1>ADMIN PANEL</h1>
  </div>
</section>

<section class="info">
  <h2 class="info__heading">Site Content</h2>
  <section class="info__subcontainer">
    <h3 class="info__subheading">I. Important Files</h3>
    <form class="text-edit">
      <h4 class="text-edit__title">General:</h4>
      <input class="text-edit__input text-edit__input-drive" name="files_general" placeholder="Drive folder URL" type="text">
      <button class="button button-save text-edit__button" type="button">Save edit</button>
      <button class="button button-cancel text-edit__button" type="button">Cancel edit</button>
    </form>
    <form class="text-edit">
      <h4 class="text-edit__title">Kindergarten:</h4>
      <input class="text-edit__input text-edit__input-drive" name="files_kg" placeholder="Drive folder URL" type="text">
      <button class="button button-save text-edit__button" type="button">Save edit</button>
      <button class="button button-cancel text-edit__button" type="button">Cancel edit</button>
    </form>
    <form class="text-edit">
      <h4 class="text-edit__title">Elementary:</h4>
      <input class="text-edit__input text-edit__input-drive" name="files_el" placeholder="Drive folder URL" type="text">
      <button class="button button-save text-edit__button" type="button">Save edit</button>
      <button class="button button-cancel text-edit__button" type="button">Cancel edit</button>
    </form>
    <form class="text-edit">
      <h4 class="text-edit__title">Junior High:</h4>
      <input class="text-edit__input text-edit__input-drive" name="files_jh" placeholder="Drive folder URL" type="text">
      <button class="button button-save text-edit__button" type="button">Save edit</button>
      <button class="button button-cancel text-edit__button" type="button">Cancel edit</button>
    </form>
    <form class="text-edit">
      <h4 class="text-edit__title">Senior High:</h4>
      <input class="text-edit__input text-edit__input-drive" name="files_sh" placeholder="Drive folder URL" type="text">
      <button class="button button-save text-edit__button" type="button">Save edit</button>
      <button class="button button-cancel text-edit__button" type="button">Cancel edit</button>
    </form>
  </section>

  <section class="info__subcontainer">
    <h3 class="info__subheading">II. Academic Calendar</h3>
    <form class="text-edit">
      <h4 class="text-edit__title">Kindergarten:</h4>
      <input class="text-edit__input text-edit__input-drive" name="calendar_kg" placeholder="Drive file URL" type="text">
      <button class="button button-save text-edit__button" type="button">Save edit</button>
      <button class="button button-cancel text-edit__button" type="button">Cancel edit</button>
    </form>
    <form class="text-edit">
      <h4 class="text-edit__title">Elementary:</h4>
      <input class="text-edit__input text-edit__input-drive" name="calendar_el" placeholder="Drive file URL" type="text">
      <button class="button button-save text-edit__button" type="button">Save edit</button>
      <button class="button button-cancel text-edit__button" type="button">Cancel edit</button>
    </form>
    <form class="text-edit">
      <h4 class="text-edit__title">Junior High:</h4>
      <input class="text-edit__input text-edit__input-drive" name="calendar_jh" placeholder="Drive file URL" type="text">
      <button class="button button-save text-edit__button" type="button">Save edit</button>
      <button class="button button-cancel text-edit__button" type="button">Cancel edit</button>
    </form>
    <form class="text-edit">
      <h4 class="text-edit__title">Senior High:</h4>
      <input class="text-edit__input text-edit__input-drive" name="calendar_sh" placeholder="Drive file URL" type="text">
      <button class="button button-save text-edit__button" type="button">Save edit</button>
      <button class="button button-cancel text-edit__button" type="button">Cancel edit</button>
    </form>
  </section>

  <section class="info__subcontainer">
    <h3 class="info__subheading">III. Term Overview</h3>
    <form class="text-edit">
      <h4 class="text-edit__title">Kindergarten:</h4>
      <input class="text-edit__input text-edit__input-drive" name="overview_kg" placeholder="Drive file URL" type="text">
      <button class="button button-save text-edit__button" type="button">Save edit</button>
      <button class="button button-cancel text-edit__button" type="button">Cancel edit</button>
    </form>
    <form class="text-edit">
      <h4 class="text-edit__title">Elementary:</h4>
      <input class="text-edit__input text-edit__input-drive" name="overview_el" placeholder="Drive file URL" type="text">
      <button class="button button-save text-edit__button" type="button">Save edit</button>
      <button class="button button-cancel text-edit__button" type="button">Cancel edit</button>
    </form>
    <form class="text-edit">
      <h4 class="text-edit__title">Junior High:</h4>
      <input class="text-edit__input text-edit__input-drive" name="overview_jh" placeholder="Drive file URL" type="text">
      <button class="button button-save text-edit__button" type="button">Save edit</button>
      <button class="button button-cancel text-edit__button" type="button">Cancel edit</button>
    </form>
    <form class="text-edit">
      <h4 class="text-edit__title">Senior High:</h4>
      <input class="text-edit__input text-edit__input-drive" name="overview_sh" placeholder="Drive file URL" type="text">
      <button class="button button-save text-edit__button" type="button">Save edit</button>
      <button class="button button-cancel text-edit__button" type="button">Cancel edit</button>
    </form>
  </section>

  <section class="info__subcontainer">
    <h3 class="info__subheading">IV. Timetable</h3>
    <form class="text-edit">
      <h4 class="text-edit__title">Kindergarten:</h4>
      <input class="text-edit__input text-edit__input-drive" name="timetable_kg" placeholder="Drive file URL" type="text">
      <button class="button button-save text-edit__button" type="button">Save edit</button>
      <button class="button button-cancel text-edit__button" type="button">Cancel edit</button>
    </form>
    <form class="text-edit">
      <h4 class="text-edit__title">Elementary:</h4>
      <input class="text-edit__input text-edit__input-drive" name="timetable_el" placeholder="Drive file URL" type="text">
      <button class="button button-save text-edit__button" type="button">Save edit</button>
      <button class="button button-cancel text-edit__button" type="button">Cancel edit</button>
    </form>
    <form class="text-edit">
      <h4 class="text-edit__title">Junior High:</h4>
      <input class="text-edit__input text-edit__input-drive" name="timetable_jh" placeholder="Drive file URL" type="text">
      <button class="button button-save text-edit__button" type="button">Save edit</button>
      <button class="button button-cancel text-edit__button" type="button">Cancel edit</button>
    </form>
    <form class="text-edit">
      <h4 class="text-edit__title">Senior High:</h4>
      <input class="text-edit__input text-edit__input-drive" name="timetable_sh" placeholder="Drive file URL" type="text">
      <button class="button button-save text-edit__button" type="button">Save edit</button>
      <button class="button button-cancel text-edit__button" type="button">Cancel edit</button>
    </form>
  </section>

  <section class="info__subcontainer">
    <h3 class="info__subheading">V. Staff List</h3>
    <form class="text-edit">
      <h4 class="text-edit__title">All:</h4>
      <input class="text-edit__input text-edit__input-drive" name="staff_ro" placeholder="Drive folder URL" type="text">
      <button class="button button-save text-edit__button" type="button">Save edit</button>
      <button class="button button-cancel text-edit__button" type="button">Cancel edit</button>
    </form>
  </section>
</section>

{% endblock layer_base %}

{% block script %}
<script>
  const layerTop = document.querySelector('.body__layer-top');
  const modalText = document.querySelector('.modal__text');
  const form = document.querySelector('.form-drive');

  const csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');

  form.addEventListener('submit', event => {
    event.preventDefault();
    const driveLink = document.querySelector("[name='inputDriveLink']").value;
    fetch('{{ url_for("api.core_api.process_images", _external=True) }}', {
      method: 'POST',
      headers: {
        "Content-Type": "application/json",
        "X-CSRFToken": csrfToken
      },
      body: JSON.stringify({ link: driveLink, directory: "static/images/downloaded/employees" })
    })
      .then(response => response.json())
      .then(data => {
      layerTop.style.display = "flex";
      modalText.innerText = data.message;
      })
      .catch(err => console.error("Fetch error:", err));
  });

  const buttonClose = document.querySelector(".modal__button-no");
  buttonClose.addEventListener('click', event => {
    layerTop.style.display = "none";
  });
</script>
{% endblock script %}