{% extends 'base.html' %}

{% block title %}
Home
{% endblock title %}

{% block layer_base %}
<section class="hero">
  <div class="hero__background"></div>
  <div class="hero__text">
    <h1>PARENT'S HUB</h1>
    <div class="hero__divider"></div>
    <h2>IPEKA CPI</h2>
  </div>
</section>

<section class="info">
  <h2 class="info__heading">Links for Parents</h2>
  <section class="linkcards">
    <div class="linkcards__card">
      <img class="linkcards__image" src="/images/media/Paperwork.avif" loading="lazy">
      <h3 class="linkcards__caption">Important Files</h3>
    </div>
    <div class="linkcards__card">
      <img class="linkcards__image" src="/images/media/Calendar.jpg" loading="lazy">
      <h3 class="linkcards__caption">Academic Calendar</h3>
    </div>
    <div class="linkcards__card">
      <img class="linkcards__image" src="/images/media/Term_Overview.jpg" loading="lazy">
      <h3 class="linkcards__caption">Term Overview</h3>
    </div>
    <div class="linkcards__card">
      <img class="linkcards__image" src="/images/media/Timetable.jpg" loading="lazy">
      <h3 class="linkcards__caption">Timetable</h3>
    </div>
    <div class="linkcards__card">
      <img class="linkcards__image" src="/images/media/Guru.png" loading="lazy">
      <h3 class="linkcards__caption">Teacher List</h3>
    </div>
  </section>
</section>

<div class="divider divider-thin"></div>

<section class="info">
  {% include "back_home.html" %}
  <h2 class="info__heading">Kindergarten Teacher List</h2>
  <section class="staff">
    <div class="staff__entry">
      <img class="staff__image" src="/images/processed/employees/ANDREW SUMENDAP.png" loading="lazy">
      <h3 class="staff__name">Andrew Sumendap</h3>
      <h4 class="staff__position">Teacher</h4>
    </div>
    <div class="staff__entry">
      <img class="staff__image" src="/images/processed/employees/GRACE ANSELA TARUK LOBO.png" loading="lazy">
      <h3 class="staff__name">Grace Ansela Taruk Lobo</h3>
      <h4 class="staff__position">Teacher</h4>
    </div>
  </section>
</section>

<div class="divider divider-thin"></div>

<section class="info">
  {% include "back_home.html" %}
  <h2 class="info__heading">Important Files</h2>
  <section class="files">
    <div class="files__entry">
      <img class="files__icon" src="/images/icons/document.svg">
      <div class="files__text">
        <h3 class="files__title">Jadwal Ujian.pdf</h3>
        <a href="#"><button class="button button-view" type="button">View</button></a>
        <a href="#"><button class="button button-download" type="button">Download</button></a>
        <span class="files__date">• Last updated: 27 Jan 2025</span>
      </div>
    </div>

    <div class="files__entry">
      <img class="files__icon" src="/images/icons/document.svg">
      <div class="files__text">
        <h3 class="files__title">Jadwal Ujian.pdf</h3>
        <a href="#"><button class="button button-view">View</button></a>
        <a href="#"><button class="button button-download">Download</button></a>
        <span class="files__date">• Last updated: 27 Jan 2025</span>
      </div>
    </div>
  </section>
</section>
{% endblock layer_base %}

{% block script %}
<script>
  const layerTop = document.querySelector('.body__layer-top');
  const modalText = document.querySelector('.modal__text');
  const form = document.querySelector('.form-drive');

  const csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');

  form.addEventListener('submit', event => {
    event.preventDefault();
    const driveLink = document.querySelector("[name='inputDriveLink']").value;
    fetch('{{ url_for("api.core_api.process_images", _external=True) }}', {
      method: 'POST',
      headers: {
        "Content-Type": "application/json",
        "X-CSRFToken": csrfToken
      },
      body: JSON.stringify({ link: driveLink, directory: "static/images/downloaded/employees" })
    })
      .then(response => response.json())
      .then(data => {
      layerTop.style.display = "flex";
      modalText.innerText = data.message;
      })
      .catch(err => console.error("Fetch error:", err));
  });

  const buttonClose = document.querySelector(".modal__button-no");
  buttonClose.addEventListener('click', event => {
    layerTop.style.display = "none";
  });
</script>
{% endblock script %}