<footer class="info footer">
  <img class="footer__image" src="/images/media/IPEKA_CPI.png" loading="lazy">
  <p class="footer__text"> | © IPEKA CPI, all rights reserved</p>
  <p class="footer__biblical-verse"><strong>Proverbs 1:7</strong> — "<i>The Fear of the Lord is the beginning of knowledge; fools despise wisdom and instruction</i>"</p>
</footer>

<script>
  const footerText = document.querySelector(".footer__text");
  const currentYear = new Date().getFullYear();
  footerText.textContent = currentYear + footerText.textContent;
</script>